/* COLORS
    --clr-bg: #f3dbbd;
    --clr-primary: #100200;
    --clr-secondary: #EEE7DC;
    --clr-alert: #6E422F;
*/
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--clr-bg);
}
.nav-container img{
    width: 6rem;
}

.navBar{
    /* background-color: var(--clr-secondary); */
    color: var(--clr-primary);
}

.options{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.link{
    display: flex;
    list-style: none;
    font-weight: bolder;
}

.link a{
    color: var(--clr-primary);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.1s;
}

.link a:hover{
    background-color: var(--clr-alert);
    color: var(--clr-secondary);
}
#shoppingCart{
    width: 30px;
    margin: 0 10px 0 10px;
}

#shoppingCart:hover{
    cursor: pointer;
}

#shoppingQuantity{
    position: relative;
    scale: 60%;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 10px 0 10px;
    border-radius: 50%;
    background-color: rgb(207, 83, 83);
    transform: translateX(-30px) translateY(-15px);
}
.shoppingModal{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 90vh;
}
.modalContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 90%;
    background-color: var(--clr-secondary);
    width: 25rem;
    margin: 10px 40px 0 0;
    padding: 20px 10px 20px 10px;
    /* border: 1px solid var(--clr-alert); */
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
   
}
.modalContent{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
}
.closeModal{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: transparent;
    border-style: none;
    font-size: x-large;
    font-weight: bold;
}
.closeModal:hover{
    cursor: pointer;
}

.buyShopCart{
    width: 100%;
    background-color: var(--clr-alert);
    border: 1px solid;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--clr-secondary);
    transition: background-color 0.5s, color 0.5s;
}
.buyShopCart:hover{
    cursor: pointer;
    border: 1px solid;
    background-color: transparent;
    color: var(--clr-alert);
}

.displayNoneOption{
    display: none;
}
.hiddenOption{
    visibility: hidden;
}