@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('/css/footer.css');
@import url('/css/header.css');
@import url('/css/product.css');

/* Variables */
:root{
    --clr-bg: #f3dbbd;
    --clr-primary: #100200;
    --clr-secondary: #EEE7DC;
    --clr-alert: #6E422F;

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr);
}
@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    background-color: var(--clr-bg);
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: -3px 11px 51px -19px rgba(17,17,0,0.41);
    -webkit-box-shadow: -3px 11px 51px -19px rgba(17,17,0,0.41);
    -moz-box-shadow: -3px 11px 51px -19px rgba(17,17,0,0.41);
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
}
/* Animaciones de carga */

.fade-in{
    animation: fadeInUp 0.6s ease forwards;
}
/* Quitando decoraciones y asignando valores predeterminados */
a{
    text-decoration: none;
    color: var(--clr-secondary);
}
li{
    list-style: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    color: var(--clr-alert);
}
/* Global container */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
/* Slider */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 0;
    border-style: none;
    background-color: var(--clr-secondary);
    object-fit: cover;
}

/* Nosotros */

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
    width: 100%;
}
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
}
.aboutMeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    text-align: center;
}
.aboutMeSection img{
    width: 10rem;
    transform: rotate(220deg);
}


.titleLine{
    width: 7rem;
    height: 1px;
    border-radius: 1px;
    background-color: var(--clr-alert);
}
.clr-secondary{
    background-color: var(--clr-secondary);
}
.clr-alert{
    background-color: var(--clr-alert);
}