<div class="footer-container">
    <img src="../img/logo.png" alt="Logo">
    <div class="footer-information">
        <div class="footer-section">
            <p class="title">CONTACTO</p>
            <ul>
                <li>(51) 999 999 999</li>
                <li>(51) 999 888 888</li>
                <li><a href="">Av. Real # - Huancayo</a></li>
                <li>ventas@empresa.com</li>
            </ul>
        </div>

        <div class="footer-section">
            <p class="title">HORARIO DE ATENCIÓN</p>
            <ul>
                <li class="title">Lunes - Sabado</li>
                <li>7:00am - 9:00am</li>
                <li class="title">Domingo</li>
                <li>7:00am - 1:00pm</li>
            </ul>
        </div>

        <div class="footer-section">
            <p class="title">REDES</p>
            <ul>
                <li>
                    <a href="" class="logo-container">
                        <img src="../img/logo-instagram.png" alt="Instagram">
                        <p>Instagram</p>
                    </a>
                </li>
                <li>
                    <a href="" class="logo-container">
                        <img src="../img/logo-facebook.png" alt="Facebook">
                        <p>Facebook</p>
                    </a>
                </li>
                <li>
                    <a href="" class="logo-container">
                        <img src="../img/logo-x.png" alt="X">
                        <p>Twitter</p>
                    </a>
                </li>
                <li class="logo-container">

                </li>
            </ul>
            <!-- <img src="" alt="TikTok"> -->
        </div>
    </div>
</div>