<nav class="navBar">
    <div class="nav-container">
        <img src="../img/logo.png" alt="Logo">
        <ul class="options">
            <li class="link"><a href="/index.html">Inicio</a></li>
            <li class="link"><a href="/pages/products.html">Produtos</a></li>
            <!-- <li class="link"><a href="#">Catering</a></li> -->
            <li class="link"><a href="#">Nosotros</a></li>
            <li class="link">
                <img src="/img/carrito-compras.png" alt="" id="shoppingCart">
                <p class="hiddenOption" id="shoppingQuantity">0</p>
            </li>
        </ul>
    </div>
</nav>
<div class="shoppingModal displayNoneOption" id="shop-modal">
    <div class="modalContainer">
        <img src="/img/cerrar.png" alt="" class="closeModal" id="closeModalCart">
        <div class="modalContent" id="modalContent">
            <div class="productInModal" id="">
                <img src="/img/img.png" alt="" class="imgProduct" data-img>
                <p data-name>Bizcocho de Vainilla</p>
                <p data-price style='font-weight: bold;'>S/1500</p>
                <button class="btn-delete btn-modal">Quitar</button>
            </div>
        </div>
        <button class="btn-modal">Comprar</button>
    </div>
</div>