<div class="container product fade-in" id="0">
    <!-- Title -->
    <h1>Producto</h1>
    <!-- img -->
    <img src="" alt="">
    <!-- Price -->
    <p class="price">S/. 100</p>
    <!-- Buttons -->
    <div>
        <div class="amount">
            <button class="decrease">-</button>
            <input type="number" value="1" id="amount" disabled>
            <button class="add">+</button>
        </div>
        <div class="options">
            <!-- <button class="">Detalles</button> -->
            <button class="">Añadir al carrito</button>
        </div>
    </div>
</div>