<div class="container product">
    <!-- Title -->
    <div>
        <h1>Producto</h1>
    </div>
    <!-- img -->
    <div>
        <img src="" alt="">
    </div>
    <!-- Description -->
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perferendis, ex unde ut fugiat.</p>
        <p>S/. 100</p>
    </div>
    <!-- Buttons -->
    <div>
        <div class="amount" id="1">
            <button class="decrease">-</button>
            <input type="number" value="1" id="amount" disabled>
            <button class="add">+</button>
        </div>
        <div class="options">
            <button class="">Ver</button>
            <button class="">Comprar</button>
        </div>
    </div>
</div>